<h1><%= current_user.subscription.blank? ? "New" : "Change" %> subscription</h1>

<%= render 'subscriptions/stripe_form' %>

<h1>Payment History</h1>

<table>
  <thead>
    <tr>
      <th>start_date</th>
      <th>end_date</th>
      <th>plan</th>
      <th>amount</th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.start_date %></td>
        <td><%= subscription.end_date %></td>
        <td><%= subscription.plan.name %></td>
        <td><%= subscription.amount %></td>
     </tr>
    <% end %>
  </tbody>
</table>
