<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @subscription.index %>
</p>

<p>
  <strong>New:</strong>
  <%= @subscription.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @subscription.create %>
</p>

<p>
  <strong>Update:</strong>
  <%= @subscription.update %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @subscription.destroy %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
