    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 copyright">
            &copy; <%= link_to ENV["SITE_NAME"], root_path %>. All rights reserved.
          </div>
          <div class="col-sm-5 menu">
            <ul>
              <li><%= link_to 'Features', page_path('features') %></li>
              <li><%= link_to 'Pricing', page_path('pricing') %></li>
              <li><%= link_to 'About', page_path('about') %></li>
              <li><%= link_to 'Contact', page_path('contact') %></li>        
            </ul>
          </div>
          <div class="col-sm-3 social">
            <%= link_to (image_tag 'social/social-tw.png', alt: 'Twitter'), ENV["TWITTER_URL"] %>
            <%= link_to (image_tag 'social/social-fb.png', alt: 'Facebook'), ENV["FACEBOOK_URL"] %>
            <%= link_to (image_tag 'social/social-gp.png', alt: 'Google Plus'), ENV["GPLUS_URL"] %>
          </div>
        </div>
      </div>
    </footer>
    
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
